@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');

/* root color theme */
:root {
  --primary-color: #251B37;
  --secondary-color: #372948;
  --tertiary-color: #FFCACA;
  --quaternary-color: #FFECEF;
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Fira Code', monospace;
  --tertiary-font: 'Fira Code', monospace;
  --quaternary-font: 'Poppins', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

::-webkit-scrollbar {
  display: none;
}

.bg-primary-color {
  background: var(--primary-color) !important;
}

.bg-secondary-color {
  background-color: var(--secondary-color) !important;
} 

.bg-tertiary-color {
  background-color: var(--tertiary-color) !important;
}

.bg-quaternary-color {
  background-color: var(--quaternary-color) !important;
}

.text-primary-color {
  color: var(--primary-color) !important;
}

.text-secondary-color {
  color: var(--secondary-color) !important;
}

.text-tertiary-color {
  color: var(--tertiary-color) !important;
}

.text-quaternary-color {
  color: var(--quaternary-color) !important;
}

.text-primary-font {
  font-family: var(--primary-font) !important;
}

.text-secondary-font {
  font-family: var(--secondary-font) !important;
}


body {
  font-family: var(--primary-font);
  background: #f1f1f1;
}
h1,h2,h3,h4 {
  font-family: var(--secondary-font);
  font-weight: 500;
}

.navbar a {
  color: var(--quaternary-color);
  font-family: var(--secondary-font);
  font-weight: 600;
  font-size: 1.5rem;
}

.navbar-nav a {
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-weight: 600;
  font-size: 1.2rem;
}

.navbar-nav a:hover::after {
  color: var(--tertiary-color);
  content: '('')';
}

span a:not(:first-child) .badge {
  margin-left: 5px;
}

#page-id-home-page .card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  transition: all .3s ease-in-out;
}

#page-id-home-page .card-img:hover {
  height: 250px;
}

#page-id-single-post #featued-img {
  width: 100%;
  height: 405px;
  object-fit: cover;
}

/* card text hide when mouse hover on image */
.card-img:hover ~ .card-text {
  display: none;
}